footer {
      padding-top: 250px;
    }
    footer .footer-widget {
      padding-bottom: 100px;
    }
    
    .footer-area {
      background-position: top center;
      position: relative;
      z-index: 5; }
    
    .footer-area::before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url(../images/footer-bg.svg);
      background-position: top center;
      z-index: -1;
      background-size: cover; }
      @media only screen and (min-width: 1921px) {
        .footer-area::before {
          height: 1120px; } }
    
    
    .footer-widget {
      padding-top: 50px; }
    
    .footer-about .logo img {
      width: 160px; }
    
    .footer-about .text {
      color: #fff;
      line-height: 30px;
      margin-top: 30px; }
    
    
    .footer-title .title {
      font-size: 24px;
      font-weight: 700;
      color: #fff; }
    
    
    .footer-contact .contact {
      padding-top: 20px; }
      .footer-contact .contact li {
        margin-top: 20px;
        font-size: 16px;
        color: #fff; }
    
    .footer-copyright {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 15px;
      padding-bottom: 30px; }
    
    .copyright > p {
      color: #fff; 
    }