article {
      margin-bottom: 3rem;
}

.section-title .line {
  background: -webkit-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: -o-linear-gradient(#fe8464 0%, #fe6e9a 100%);
  background: linear-gradient(#fe8464 0%, #fe6e9a 100%);
  width: 150px;
  height: 5px;
  margin-bottom: 10px; 
}

.product-content > p {
      margin-bottom: 1rem;
}

@media (max-width: 767px) {
      .product-image {
            display: none;
      }
}
.section-title .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 0.5rem;
 }

.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #361CC1;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section-title .sub-title {
      font-size: 16px; } }


  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-title .title {
      font-size: 30px; } }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 24px; } }
  .section-title .title span {
    font-weight: 400;
    display: contents; } 
    
.advertising-partner-image {
  height: 3rem;
  margin: 0.5rem;
}
.advertising-partner-image.g-ads{
  height: 6rem;
}
.image-wrap {
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 767px) {
  .advertising-partner-image {
    height: 3rem;
    margin: 0.5rem;
  }
  .advertising-partner-image.g-ads{
    height: 6rem;
  }
  .image-wrap {
    margin: auto;
  }
}